<div class="container">
  <div class="row">
    <section class="col-sm-12 main-section ">
      <div class="jumbotron">
        <h1 class="display-4">User Manager App!</h1>
        <a class="btn btn-primary btn-lg" routerLink="/users/add" role="button">Create New User</a>
      </div>
    </section>
  </div>

  <div class="row">
    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">John</h5>
        <p class="card-text">345345435</p>
        <a routerLink="/users/1" class="link">View Details</a>
      </div>
    </div>
  </div>

</div>